<details>
<summary>Show data flows</summary>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Source</th>
            <th>Sink</th>
            <th>Type</th>
        </tr>
    </thead>
    <tbody>
        {% for flow in scenario.flows %}
        <tr>
	    <td>{{ loop.index }}</td>
            <td>{{ flow.name }}</td>
            <td>{{ flow.source }}</td>
            <td>{{ flow.sink }}</td>
            <td>
                {% if flow.is_response %}
                Response to {{ flow.response_to }}
                {% else %}
                Request
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</details>
